<% unless @display.blank? %>
  <div class="parallax-container">
    <div class="parallax"><%=image_tag("vintage.jpg", alt: "Background Image of Vintage Paper")%></div>
  </div>

  <% unless @display[:small].blank? %>

    <!-- render small partials in one parallax container-->
    <div class="section white">
      <div class="row container">
        <% @display[:small].each do |partial| %>
          <%= render partial.downcase %>
        <%end%>
      </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><%=image_tag("vintage.jpg", alt: "Background Image of Vintage Paper")%></div>
    </div>
  <%end%>

  <!-- large partials render with own parallax container -->
  <% unless @display[:big].blank? %>
    <%@display[:big].each do |partial| %>
      <%= render partial.downcase %>
    <%end%>
  <%end%>

<%end%>

<%= render 'source' %>

<h5>Looking for something else?</h5>
<%= render 'form' %>
<p class="indigo-text indigo-lighten-2">Hint: Pagination, Circulation, Author, Date, Publisher, For, Location, Style</p>

<script>
  $('.collapsible').collapsible();
  $('.parallax').parallax();
</script>
